{{extend '../_layouts/layout.html'}} {{block 'title'}}
<title>资质荣誉</title>
{{/block}} {{block 'style'}}
<link rel="stylesheet" href="../../public/css/n1.css"> {{/block}} {{block 'content'}}
<img src="../../public/img/tt.jpg" alt="" style="width:100%;position: relative;top:-20px;z-index:-1">
<div class="container">
    <div class="row">
        <div class="td col-lg-3 col-md-3 hidden-sm hidden-xs right" data-spy="affix" data-offset-top="500 ">
            <div class="sl_gy text-center hidden-sm hidden-xs">
                <h3>关于苏立</h3>
                <p>- About Su Li -</p>
            </div>
            <div class="navp">
                <ul class="nav hidden-xs hidden-sm">
                    <li class="active">
                        <a href="s1.html">公司概况</a></li>
                    <li><a href="s2.html">企业文化</a></li>
                    <li><a href="s3.html">资质荣誉</a></li>
                    <li><a href="s4.html">发展历程</a></li>
                </ul>
            </div>
        </div>
        <div class="tab-content col-lg-9 col-md-9 left">
            <div class="tt ">
                <div class="title ">资质荣誉</div>
                <div class="adr "><span class="pos ">当前位置：</span><a href=?mid=2>关于苏立</a> >> <a href=?mid=7>资质荣誉</a></div>
            </div>
            <div class="zz ">
                <h1 class="title text-center ">中国科学院先进热控材料联合研究中心</h1>
                <div class="zn ">
                    <span>发布单位:<a>安徽苏立科技有限公司</a></span>&nbsp;&nbsp;
                    <span>发布人:安徽苏立科技</span>&nbsp;&nbsp;
                    <span>发布时间：2021/8/4 15:56:29 </span>&nbsp;&nbsp;
                    <span>关注度：276</span>
                </div>
                <div class="zm">
                    <img src="../../public/img/xj.jpg" alt="">
                </div>

            </div>
        </div>
    </div>
</div>
{{/block}}